@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .default-light {
    --primary: 235, 86%, 65%;
    --primary-content: 0, 0%, 100%;
    --primary-dark: 235, 85%, 55%;
    --primary-light: 235, 86%, 75%;

    --secondary: 335, 86%, 65%;
    --secondary-content: 335, 87%, 15%;
    --secondary-dark: 335, 85%, 55%;
    --secondary-light: 335, 86%, 75%;

    --background: 233, 27%, 94%;
    --foreground: 240, 25%, 98%;
    --border: 233, 25%, 87%;

    --copy: 237, 25%, 15%;
    --copy-light: 235, 25%, 40%;
    --copy-lighter: 235, 25%, 55%;

    --success: 120, 86%, 65%;
    --warning: 60, 86%, 65%;
    --error: 0, 86%, 65%;

    --success-content: 120, 87%, 15%;
    --warning-content: 60, 87%, 15%;
    --error-content: 0, 87%, 15%;
  }

  .default-dark {
    --primary: 235, 86%, 65%;
    --primary-content: 0, 0%, 100%;
    --primary-dark: 235, 85%, 55%;
    --primary-light: 235, 86%, 75%;

    --secondary: 335, 86%, 65%;
    --secondary-content: 335, 87%, 15%;
    --secondary-dark: 335, 85%, 55%;
    --secondary-light: 335, 86%, 75%;

    --background: 235, 25%, 10%;
    --foreground: 237, 25%, 15%;
    --border: 234, 25%, 25%;

    --copy: 240, 25%, 98%;
    --copy-light: 234, 25%, 85%;
    --copy-lighter: 235, 25%, 65%;

    --success: 120, 86%, 65%;
    --warning: 60, 86%, 65%;
    --error: 0, 86%, 65%;

    --success-content: 120, 87%, 15%;
    --warning-content: 60, 87%, 15%;
    --error-content: 0, 87%, 15%;
  }

  .green-light {
    --primary: 163, 98%, 45%;
    --primary-content: 0, 0%, 0%;
    --primary-dark: 163, 98%, 35%;
    --primary-light: 163, 98%, 55%;

    --secondary: 183, 98%, 45%;
    --secondary-content: 0, 0%, 0%;
    --secondary-dark: 183, 98%, 35%;
    --secondary-light: 183, 98%, 55%;

    --background: 0, 0%, 94%;
    --foreground: 0, 0%, 98%;
    --border: 0, 0%, 87%;

    --copy: 0, 0%, 15%;
    --copy-light: 0, 0%, 40%;
    --copy-lighter: 0, 0%, 55%;

    --success: 120, 98%, 45%;
    --warning: 60, 98%, 45%;
    --error: 0, 98%, 45%;

    --success-content: 0, 0%, 0%;
    --warning-content: 0, 0%, 0%;
    --error-content: 0, 100%, 95%;
  }

  .green-dark {
    --primary: 163, 98%, 45%;
    --primary-content: 0, 0%, 0%;
    --primary-dark: 163, 98%, 35%;
    --primary-light: 163, 98%, 55%;

    --secondary: 183, 98%, 45%;
    --secondary-content: 0, 0%, 0%;
    --secondary-dark: 183, 98%, 35%;
    --secondary-light: 183, 98%, 55%;

    --background: 0, 0%, 10%;
    --foreground: 0, 0%, 15%;
    --border: 0, 0%, 25%;

    --copy: 0, 0%, 98%;
    --copy-light: 0, 0%, 85%;
    --copy-lighter: 0, 0%, 65%;

    --success: 120, 98%, 45%;
    --warning: 60, 98%, 45%;
    --error: 0, 98%, 45%;

    --success-content: 0, 0%, 0%;
    --warning-content: 0, 0%, 0%;
    --error-content: 0, 100%, 95%;
  }
}

/* .template {
  --primary: 
  --primary-content: 
  --primary-dark:
  --primary-light:

  --secondary:
  --secondary-content:
  --secondary-dark:
  --secondary-light:

  --background:
  --foreground:
  --border:

  --copy:
  --copy-light:
  --copy-lighter:

  --success:
  --warning:
  --error:

  --success-content:
  --warning-content:
  --error-content:

} */
